{% block title %}{% endblock %}

{% block body %}

{# {% include './composant/Header.html.twig' %} #}
	{% include './composant/PageStyle.html.twig' %}

<div class="flex flex-col flex-row items-center justify-between text-xl ">
				<h1 class="text-4xl sm:text-7xl text-gray-900 font-bold m-4 sm:mb-0">Votre panier</h1>
			</div>
	<div class="flex flex-col sm:flex-row w-full h-screen">
		<div class="w-full sm:w-1/6"></div>
		<div class="w-full sm:w-5/6 px-4 sm:px-0">
			
			<br>
        <div class="flex space-x-10">
			<h2>Prix Total:
				{{ prixTotal }}
				€</h2>
                <h2 class="text-grey-600">Prix HT:
				
				€</h2>
        </div>
			<br>

			<button id="checkout-button" class="bg-green-800 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
				Passer la commande
			</button>

			{% if panier %}
				<ul>

					{% for ficheProduit in panier.getFicheProduits %}
						<div class="border border-gray-300 shadow-md p-3 m-3 rounded-lg">
							<div class="mb-4">
								<span class="font-semibold text-2xl">{{ ficheProduit.titre }}</span>
								<br>
								<span>Prix :
									{{ ficheProduit.prix }}
									€
								</span>
                                <br>
								
                    <div class="flex items-center mt-2">
                        <button class="bg-gray-200 text-gray-700 hover:text-gray-900 hover:bg-gray-300 rounded px-2 py-1 mr-2">
                            -
                        </button>
                        <span class="text-gray-700 px-2 border border-grey-500">1</span> <!-- Remplacer 1 par la variable de quantité -->
                        <button class="bg-gray-200 text-gray-700 hover:text-gray-900 hover:bg-gray-300 rounded px-2 py-1 ml-2">
                            +
                        </button>
                    </div>
                    <br>
								<form action="/supprimer/{{ ficheProduit.id }}" method="post" class="flex justify-end">
									<button type="submit" class="bg-red-600 hover:bg-red-700 text-sm text-white py-1 px-2 rounded-full">
										Supprimer
									</button>
								</form>
							</div>
						</div>
					{% endfor %}


				</ul>

			{% else %}
				<div class="text-gray-900 mt-8 sm:mt-20">
					<h2 class="text-3xl sm:text-5xl font-semibold">Historique des commandes</h2>
					<h2 class="text-xl sm:text-2xl font-light">Vous n'avez pas encore passé de commande.</h2>
				</div>
			{% endif %}
		</div>
        <div class="w-full sm:w-1/6"></div>
	</div>  
    
{% include './composant/bottomBar.html.twig' %}


</div>
<script src="https://js.stripe.com/v3/"></script>
    
</body>
</html>

<script>
var stripe = Stripe('pk_test_51OfQTfIt7t0x5dTglGHreq6TfXNXoTLuXW9HOvi24as0oEkvSxzXWNZBuYwfS9rnbVNFs8umnJRkDdEtIQo9FBTZ00h6Y2jXk2');

var checkoutButton = document.getElementById('checkout-button');
checkoutButton.addEventListener('click', function () {
    // Créer une session de paiement sur le serveur (voir étape dans le contrôleur Symfony)
    fetch('/create-checkout-session', {
        method: 'POST',
    })
    .then(function (response) {
        return response.json();
    })
    .then(function (session) {
        console.log("Session ID:", session.id); // Afficher le Session ID pour le débogage
        if (!session.id) {
            throw new Error("Session ID not found in response");
        }
        return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .catch(function (error) {
        console.error("Error:", error);
    });
});



</script>

{% endblock %}