{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{% block body %}


{% include './composant/Header.html.twig' %}


<div class="flex flex-col sm:flex-row w-screen  h-screen">
    <div class="w-6/10"></div>
    <div class="w-full mt-32 sm:w-5/6 px-4 sm:px-0">
{% include './composant/UserBar.html.twig' %}


<div  class="w-screen flex justify-end items-end px-2"> <!-- Adjust the width as needed -->
                <button id="NewList" class="text-slate-50 text-sm bg-green-900 hover:bg-green-950 font-medium rounded-full w-40 px-8 py-1">
                    Nouvelle liste
                </button>
</div>



<div class=" flex flex-col w-scree items-center justify-center">
{% for liste in listes %}
        
         {% include './composant/VosListes.html.twig' with {'nomListe': liste.nomListe} %}

                 <!--<a href="{{ path('app_liste_edit', {'id': liste.id}) }}">edit</a>-->
   

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
{% endfor %}
</div>


    

    


    {% include './composant/bottomBar.html.twig' %}

    <script>
    document.getElementById('NewList').addEventListener('click', function() {
        window.location.href = '{{ path('app_liste_new') }}';
    });
    </script>
{% endblock %}
