{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="p-4">
        <h1>Bienvenue dans l'Espace d'Administration Greenshop</h1>
        <!-- Ici, vous pouvez ajouter des éléments personnalisés -->
        <p>Ceci est votre tableau de bord personnalisé.</p>
        <!-- Exemple : Affichage de statistiques, graphiques, etc. -->
    </div>
{% endblock %}
    