<div class="flex flex-row items-center w-10/12	">

        <div class="font-lora font-normal w-1/2 text-xl leading-none text-black">Vos Commandes</div>
    
      <div class="font-inter text-xs w-1/2 text-sm leading-none underline text-right text-black">
        <a href="#" class="no-underline hover:underline">Voir tout</a>
      </div>
    </div>


    
{% for commande in commandes %}
    <div>
        <p>Commande ID: {{ commande.id }}</p>
        <p>Date de création: {{ commande.createdAt|date('Y-m-d H:i:s') }}</p>
        {# Afficher d'autres détails de la commande si nécessaire #}
    </div>
{% else %}
    <p>Aucune commande trouvée.</p>
{% endfor %}