<div class=" flex-col justify-center items-center">
    <div class="w-screen flex items-center justify-center">
        <h1 class="text-xl text-green-800 my-8 w-11/12 ">
            Top vente
        </h1>
    </div>

    <div class="flex justify-center gap-4">
        <div class="flex flex-col items-center w-44 h-64 p-2.5 rounded border border-gray-400 border-opacity-50" style="flex-shrink: 0; padding: 9px 26px 13px 14px;">
            <img src="Image.png" alt="T-shirt eco-résponsable" class="w-32 h-32 object-contain p-2">
                <div class="flex flex-col items-center space-y-3">
                    <a href="link_to_product" class="text-xs mt-2 text-center font-medium">T-shirt eco-résponsable</a>
                    <span class="text-xs font-thin	">EcoTree</span>
                    <span class="text-xs font-semibold	">Prix €</span>
                </div>
        </div>
        <div class="flex flex-col items-center w-44 h-64 p-2.5 rounded border border-gray-400 border-opacity-50" style="flex-shrink: 0; padding: 9px 26px 13px 14px;">
            <img src="Image.png" alt="T-shirt eco-résponsable" class="w-32 h-32 object-contain p-2">
                <div class="flex flex-col items-center space-y-3">
                    <a href="link_to_product" class="text-xs mt-2 text-center font-normal">T-shirt eco-résponsable</a>
                    <span class="text-xs font-thin	">EcoTree</span>
                    <span class="text-xs font-semibold	">Prix €</span>
                </div>
        </div>
    </div>

    <h2 class="text-green-800 font-semibold text-sm underline text-center mt-4">Voir plus</h2>
</div>