<!-- Bottom Navigation -->
<div class="fixed inset-x-0 bottom-0 bg-white shadow-2xl justify-center lg:hidden max-sm:visible">
    <div class="max-w-md mx-auto w-11/12">
      <div class="flex justify-between p-4">
        <a href="{{path("app_accueil")}}" class="flex flex-col items-center space-y-1">
          <svg class="w-6 h-6 text-gray-800" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M12.5044 4.15336C12.3663 4.02767 12.1863 3.95801 11.9995 3.95801C11.8128 3.95801 11.6328 4.02767 11.4947 4.15336L3.99469 11.2352C3.91751 11.3056 3.85587 11.3913 3.81374 11.4869C3.7716 11.5825 3.74989 11.6858 3.75 11.7902V20.4584C3.75 20.6573 3.82902 20.848 3.96967 20.9887C4.11032 21.1293 4.30109 21.2084 4.5 21.2084H19.5C19.6989 21.2084 19.8897 21.1293 20.0303 20.9887C20.171 20.848 20.25 20.6573 20.25 20.4584V11.7902C20.25 11.6857 20.2281 11.5824 20.1858 11.4868C20.1435 11.3912 20.0817 11.3055 20.0044 11.2352L12.5044 4.15336Z" stroke="#D8E5D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <a href="/user" class="flex flex-col items-center space-y-1">
          <svg class="w-6 h-6 text-gray-800" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <g clip-path="url(#clip0_495_5520)">
                <path d="M12.0585 11.8994C14.5275 11.8994 16.5291 9.89788 16.5291 7.42884C16.5291 4.9598 14.5275 2.95825 12.0585 2.95825C9.58944 2.95825 7.58789 4.9598 7.58789 7.42884C7.58789 9.89788 9.58944 11.8994 12.0585 11.8994Z" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2 21.9583V21.9583C2 18.2548 5.00233 15.2524 8.70588 15.2524H15.4118C19.1153 15.2524 22.1176 18.2548 22.1176 21.9583V21.9583" stroke="#767676" stroke-width="2" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_495_5520">
                <rect width="24" height="24" fill="white" transform="translate(0 0.958252)"/>
                </clipPath>
                </defs>
          </svg>
        </a>
        <a href="#" class="flex flex-col items-center space-y-1">
          <svg class="w-6 h-6 text-gray-800" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <g clip-path="url(#clip0_495_5526)">
                <path d="M0 4.95825H1.79268L2.56098 7.95825M2.56098 7.95825L5.12195 17.9583H18.439L21 7.95825H2.56098Z" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.12252 22.9583C5.97116 22.9583 6.65911 22.2867 6.65911 21.4583C6.65911 20.6298 5.97116 19.9583 5.12252 19.9583C4.27389 19.9583 3.58594 20.6298 3.58594 21.4583C3.58594 22.2867 4.27389 22.9583 5.12252 22.9583Z" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.438 22.9583C19.2866 22.9583 19.9745 22.2867 19.9745 21.4583C19.9745 20.6298 19.2866 19.9583 18.438 19.9583C17.5893 19.9583 16.9014 20.6298 16.9014 21.4583C16.9014 22.2867 17.5893 22.9583 18.438 22.9583Z" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_495_5526">
                <rect width="24" height="24" fill="white" transform="translate(0 0.958252)"/>
                </clipPath>
                </defs>
          </svg>
        </a>
        <a href="/categorie" class="flex flex-col items-center space-y-1">
          <svg class="w-6 h-6 text-gray-800" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <g clip-path="url(#clip0_495_5535)">
                <path d="M0 5.95825H24M0 13.4583H24M0 20.9583H24" stroke="#0F182E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_495_5535">
                <rect width="24" height="24" fill="white" transform="translate(0 0.958252)"/>
                </clipPath>
                </defs>
          </svg>
        </a>
      </div>
    </div>
  </div>