<div class=" h-3/5 w-72 bg-white shadow-lg">
            <div class="h-72 border-b-2 border-gray-200">
                <img src="https://www.extime.com/_next/image?url=https%3A%2F%2Fd1kvfoyrif6wzg.cloudfront.net%2Fassets%2Fimages%2F655%2F60238%2Fnone_9a68bab95f11bd3dca53fbd6a7a8b088_9a68bab.JPEG&w=828&q=100" alt="">
            </div>
            <div class=" w-full h-56 flex flex-col justify-center items-center">
                <div class=" h-1/2 flex flex-col text-center justify-center">
                    <div class="">
                        <h1 class="font-bold text-gray-800">DIOR</h1>
                <p class="font-light text-base text-gray-600">j'adore</p>
                <p class="font-light text-base text-gray-600">Eau de parfum - 50 ml</p>
                    </div>
                </div>
                
                <div class="flex h-1/2 items-center h">
                    <div class="text-center">
                        <h1 class="font-light text-blue-800 border-blue-800 border mb-4"> -10% Extime Rewards</h1>
                        <a class="font-light text-gray-600 text-center"> A partir de</a> <a class="text-gray-600 text-center font-semibold">78,75€</a>
                    </div>
                </div>


            </div>
        </div>

        