{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Sauvegarder les modifications</button>
    {{ form_end(form) }}
{% endblock %}
