
{# templates/user/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
{% include './composant/Header.html.twig' %}
<h1>Bonjour, {{ user.nom }}</h1>

 <div class="w-screen flex justify-center">
    <div class="flex flex-col gap-2.5 p-3 w-11/12 items-center justify-between	 ">
        <div class="flex justify-center ">
            <div id="goToOrder" class="w-1/2 px-2"> <!-- Adjust the width as needed -->
                <button class="text-slate-50 text-sm bg-green-800 hover:bg-green-900 font-medium rounded-full w-44 px-8 py-3">
                    Vos commande
                </button>
            </div>
            <div class="w-1/2 px-2"> <!-- Adjust the width as needed -->
                <button class=" text-slate-50 text-sm	 bg-green-800 hover:bg-green-900 font-medium rounded-full w-44 px-8 py-3">
                    Vos favoris
                </button>    
            </div>
        </div>
            
        <div class="flex justify-center ">
            <div class="w-1/2 px-2"> <!-- Adjust the width as needed -->

                <button id="goToAccount" class="text-slate-50 text-sm	 bg-green-800 hover:bg-green-900 font-medium rounded-full w-44 px-8 py-3">
                    Votre compte
                </button>
            </div>
            <div class="w-1/2 px-2"> <!-- Adjust the width as needed -->
                <button id="goToListe"class="text-slate-50 text-sm	 bg-green-800 hover:bg-green-900 font-medium rounded-full w-44 px-8 py-3">
                    Vos listes
                </button>
            </div>
        </div>
    </div>
</div>


<!--Commandes-->
<div class="w-screen flex flex-col justify-center items-center mt-6">
    <div class="flex flex-row items-center w-10/12">
        <div class="font-lora font-semibold w-1/2 text-xl leading-none text-neutral-900">Vos commandes</div>
        <div class="font-inter text-xs w-1/2 text-sm leading-none text-right text-neutral-900">
            <a href="#" class="hover:underline">Afficher tout</a>
        </div>
    </div>
    {% if commandes|length == 0 %}


    
    <div class=" w-10/12 mt-4">
       
        <div class="flex-row flex items-center min-h-20 w-full rounded-md border-gray-600">

            <div class=" flex flex-col w-full ">
                <div class="font-light 	  text-center">
                    <p class="text-lg font-extrabold text-neutral-500">Pas encore de commande</p>
                    <p class="text-2xl font-semibold text-neutral-400"> En manque d'inspiration ?</p>
                </div>
            </div>
        </div>
    </div>



        
    {% else %}
        {% for commande in commandes %}
            {% include './composant/VosCommandes.html.twig' with {'commande': commande} %}
        {% endfor %}
    {% endif %}
</div>



<!--Listes-->
  <div class="w-screen flex flex-col justify-center items-center mt-6">

    <div class="flex flex-row items-center w-10/12	">

        <div class="font-lora font-semibold w-1/2 text-xl leading-none text-neutral-900">Vos listes</div>
    
      <div class="font-inter text-xs w-1/2 text-sm leading-none  text-right text-neutral-900	">
        <a href="#" class="hover:underline">Afficher tout</a>
      </div>
    </div>
{% for liste in listes %}
    {% include './composant/VosListes.html.twig' with {'nomListe': liste.nomListe} %}
{% endfor %}

  </div>


{% include './composant/bottomBar.html.twig' %}






{% if is_granted('ROLE_ADMIN') %}
    <a href="/admin" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Bouton Admin
    </a>
{% endif %}


<script>
    document.getElementById('goToAccount').addEventListener('click', function() {
        window.location.href = '/compte';
    });

    document.getElementById('goToOrder').addEventListener('click', function() {
    window.location.href = '/commande/VosCommandes';
});

    document.getElementById('goToListe').addEventListener('click', function() {
    window.location.href = '/liste/';
});

    
</script>



{% endblock %}
