{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
{% include './composant/Header.html.twig' %}

<div class="flex flex-col sm:flex-row w-screen  h-screen">
    <div class="w-6/10"></div>
    <div class="w-full mt-32 sm:w-5/6 px-4 sm:px-0">
        {% include './composant/UserBar.html.twig' %}

        <div class="text-gray-900 mt-8 sm:mt-20">
            <h2 class="text-3xl sm:text-5xl font-semibold">Historique des commandes</h2>
            {% if commandes|length == 0 %}
                <h2 class="text-xl sm:text-2xl font-light">Vous n'avez pas encore passé de commande.</h2>
            {% else %}
                {% for commande in commandes %}
                    {% include './composant/VosCommandes.html.twig' with {'commande': commande} %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
    <a href="/admin" class="bg-blue-500 mt-10 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Bouton Admin
    </a>
{% endif %}



{% include './composant/bottomBar.html.twig' %} 






<script>
    document.getElementById('goToAccount').addEventListener('click', function() {
        window.location.href = '/compte';
    });

    document.getElementById('goToOrder').addEventListener('click', function() {
    window.location.href = '/commande/VosCommandes';
});

    document.getElementById('goToListe').addEventListener('click', function() {
    window.location.href = '/liste/';
});

    
</script>



{% endblock %}




{# 
                <!--Listes-->
        <div class="w-screen flex flex-col justify-center items-center mt-6">

            <div class="flex flex-row items-center w-10/12	">

                <h2 class="text-3xl sm:text-5xl font-semibold">Vos Listes</h2>
            
            <div class="font-inter text-xs w-1/2 text-sm leading-none  text-right text-neutral-900	">
                <a href="#" class="hover:underline">Afficher tout</a>
            </div>
            </div>
        {% for liste in listes %}
            {% include './composant/VosListes.html.twig' with {'nomListe': liste.nomListe} %}
        {% endfor %}

        </div> #}